body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;

    color: whitesmoke;
    
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-between;

    flex: 0 1 auto;

    color: whitesmoke;
    background-color: #095702;
    
    font-weight: bold;

}

header .title {
    margin-left: 2.5%;
}

header .info {
    display: flex;
    margin-left: auto;
    margin-right: 2.5%;
}

header .info:hover {
    transition: 0.2s;
    box-shadow: 2px 2px 2px 2px #222;
    border-radius: 1000px;
}

main {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    background-color: #222;
}

main #content {
    display: flex;
    align-self: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }